* {
  box-sizing: border-box;
  /* margin: 0; */
  padding: 0;
  font-size: 18px;
  color: #a1a2a6;
  font-family: "DM Serif Text", serif;
}

img {
  width: 250px;
  height: 250px;
}

body {
  margin-left: 4rem;
  margin-right: 4rem;
}
nav {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
nav h1 {
  font-weight: 800;
  font-size: 22px;
}
nav h1:hover,
nav li:hover {
  cursor: pointer;
  color: #f2ae30;
}
nav ul {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  list-style: none;
}
nav button {
  background-color: #f2ae30;
  border: none;
  padding: 0 1.5rem;
  border-radius: 18%;
  font-weight: 600;
}
nav button:hover {
  cursor: pointer;
  background-color: #f2c12e;
}

.section-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.space-bottom-8 {
  margin-bottom: 8rem;
}
.space-bottom-4 {
  margin-bottom: 4rem;
}
.section-2-nav {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.section-2-nav h1 {
  grid-column: 1/3;
  grid-row: 1/2;
}
.section-2-nav p {
  grid-column: 1/1;
  grid-row: 2/3;
}

.chevron {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: end;
}

.section-2-card {
  display: flex;
}

.section-3 {
  text-align: center;
}

.section-3-card {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.section-3-card div {
  border: 1px solid yellow;
  width: min-content;
}

.section-4 {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.section-4 h1 {
  grid-column: 1/3;
  grid-row: 1/2;
}
.section-4 p {
  grid-column: 1/2;
  grid-row: 2/3;
}
.section-4 div {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: end;
}

footer {
  text-align: center;
  line-height: 0.5rem;
}
